<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.tb.dao.adminDao">

	<insert id="adminInsert" parameterType="com.test.tb.domain.AdminTblDto">
			INSERT INTO 
			ADMINTBL2 (A2_ID,A2_PW) 
			VALUES(#{a2_id},#{a2_pw});													
	</insert>
	
	
	<select id="adminInfo" resultType="com.test.tb.domain.AdminTblDto">
			SELECT
			A2_IDX,
			A2_ID,
			A2_PW,
			A2_DATE
			FROM
			ADMINTBL2
			WHERE 
			A2_ID=#{param};
	</select>

</mapper>